body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav {
    display: flex;
    justify-content: center;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav ul li {
    padding: 0 1em;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  #hero {
    flex-basis: 100%;
    text-align: center;
    padding: 2em;
  }
  
  #hero h2 {
    margin-bottom: 0.5em;
  }
  
  #hero .button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
  }
  
  #featured-resources {
    flex-basis: 100%;
    text-align: center;
    padding: 2em;
  }
  
  #featured-resources h2 {
    margin-bottom: 1em;
  }
  
  #featured-resources  a .btn {
    background-color: #4CAF50;
    text-decoration: none;
  }
  
  footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
  }
  