{% extends 'base.html' %}

{% block  content %}
<main>
    <div  class="container">
       <h2 class="mp-3"> Upcoming Events</h2>

        {% load  static %}
        {% for event in events %}
        <div class="card mb-3" style="max-width: 700px;">
            <div class="row g-0">
              <div class="col-md-4">
                {% if event.poster %}
                <a href="">
                <img src="{{ event.poster.url }}" style="width:600px" class="img-fluid rounded-start" alt="...">
              </a>
               {% endif %}
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">{{ event.title }}</h3>
                  <p class="card-text">{{ event.description }}</p>
                  <p class="card-text">Date: {{event.eventDate }}</p>
                  <p class="card-text" >Time: {{ event.eventTime }}</p>
                  <p class="card-text">Location: {{ event.location }}</p>
                  <p class="card-text"><small class="text-muted">Posted {{event.date_created | timesince}}  ago</small></p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

    </div>
</main>
    {% endblock  %}