 {% extends 'base.html' %}

 {% block  content %}

 <main>
    <section id="hero">
      <h2>Connecting Community Members with Local Resources</h2>
      <p>Find the resources you need to improve your life and your community.</p>
      <a href="#" class="button">Learn More</a>
    </section>
    <section id="featured-resources">
      <h2>Featured Resources</h2>
      <ul>
        <li>
          <h3>Food Assistance</h3>
          <p>Find local organizations that provide food assistance and learn about available programs.</p>
          <a href="food-assistance.html">Learn More</a>
        </li>
        <li>
          <h3>Housing Assistance</h3>
          <p>Learn about local organizations and programs that can help you find and afford housing.</p>
          <a href="housing-assistance.html">Learn More</a>
        </li>
        <li>
          <h3>Job Training</h3>
          <p>Find local organizations that provide job training and career development resources.</p>
          <a href="#">Learn More</a>
        </li>
      </ul>
    </section>
  </main>
 
 {% endblock  %}
