 
 {% extends 'base.html' %}

 {% block  content %}

 <main>
    <section id="hero">
      <h2>Connecting Community Members with Local Resources</h2>
      <p>Find the resources you need to improve your life and your community.</p>
      <a href="{% url 'resources' %}" class="button">Learn More</a>
    </section>

  <section id="featured-resources">
      <h2 class="mp-3">Featured Resources</h2>
    
      <div class="row">
    
      {% load static %}

      <div class="col-sm-4">
      <div class="card" style="width: 25rem;">
        <img src="{% static  'images/food-assistance.png' %}" class="card-img-top" alt="Image">
        <div class="card-body">
          <h2 class="card-title">Food Assistance</h2>
          <p class="card-text">Find local organizations that provide food assistance and learn about available programs.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card" style="width: 25rem;">
        <img src="{% static  'images/house-assistance.jpg' %}" class="card-img-top" alt="Image">
        <div class="card-body">
          <h2 class="card-title">Housing Assistance</h2>
          <p class="card-text">Learn about local organizations and programs that can help you find and afford housing.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

      <div class="col-sm-4">
      <div class="card" style="width: 25rem;">
        <img src="{% static  'images/job-training.jpeg' %}" class="card-img-top" alt="Image">
        <div class="card-body">
          <h2 class="card-title">Job Training</h2>
          <p class="card-text">Find local organizations that provide job training and career development resources.</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>

 </div

</section>

</main>
 
 {% endblock  %}
