{% extends 'base.html' %}

{% block  content %}
    <main>
        <section id="hero">
      <h2>Request a Resource</h2>
      <p>
        If you need a resource that is not currently listed on our website,
        please fill out the form below. We will do our best to find and provide
        the resource you need.
      </p>
      </section>
      <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" /><br />
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" /><br />
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" /><br />
        <label for="resource">Resource Needed:</label>
        <input type="text" id="resource" name="resource" /><br />
        <label for="details">Details:</label>
        <textarea id="details" name="details"></textarea><br />
        <input type="submit" value="Submit" />
      </form>
    </main>
    {% endblock  %}