{% extends 'base.html' %}

{% block  content %}
    <main>
        <section id="hero">
      <h2>Request a Resource</h2>
      <p>
        If you need a resource that is not currently listed on our website,
        please fill out the form below. We will do our best to find and provide
        the resource you need.
      </p>
      </section>
      <div class="container">
      <form method="POST" action="">

         {% csrf_token %} 

        {{ form }}
        
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
       
        
      </form>

    </main>
    {% endblock  %}